@import "conocenos";
@import "faq";
@import "productos";
@import "_mixins";
@import "_variables";


/* TITULOS GENERALES –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


.encabezado_secciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0;


    &__subtitulos{
    @include titulares($verde, 5vw);
    text-align: end;

    }

    &__numeros{
    @include titulares($verde, 5vw);
    text-align: start;
    }
    
    &__subtitulos--blanco{
        @include titulares( $crema, 5vw);
        }
}

.tituloSecciones{
            color: $verde;
            font-family: 'Brygada 1918', serif;
            font-size: 5vw;
            font-weight: lighter;
            text-align: right;
 }







/* FORM GENERALES –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


    
form {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color:$crema;

    label{
    display: inline-block;
    width: 30%;
    margin: 0;
    padding: 1rem 0;
    margin-top: 2rem;
}

#radioButton{ 
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;


    .radioButtons{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;


        position: relative;
        margin-bottom: 1rem;
        padding: 0;
        padding-left: 2rem; 
        display: block;
   

        input, select{
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        input{
            visibility: hidden;
            position: absolute;
            right: 0;
        }

        input + i{
            background: transparent;
            border:1px solid $crema;
            position: absolute; 
            left: 0;
            top: 0;
           }

           input[type=radio] + i{
            height: 1rem;
            width: 1rem;
            border-radius: 100%;
            left: 0;
           }

           input[type=radio] + i:before{
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background:transparent;
            border-radius: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            background:$crema;
            transition: all 0.25s ease; 
            transform: scale(0);
            opacity: 0; 
        }

        input[type=radio]:checked + i:before{
            transform: scale(1);
            opacity: 1;
        }
    }

    .radioButtons:hover input[type=radio]:not(:checked) + i{
        background: $verde;
    }
    }
}

.formBotones{

    margin: auto;

    &__boton{
            padding: .8rem;
            background: none;
            border: 1px solid $crema;
            width: 30%;
            color: $crema;
            letter-spacing: .1rem;
            margin: 1rem 1rem 0 1rem;
        }
        
    &__boton:hover{
            background-color: $crema;
            color:  $verde;
        }
    }

    .cartaTexto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
        max-height: 100%;
        transition: scale 2s;

        &__titulo{
            color: $verde;
            font-family: 'Brygada 1918', serif;
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0 auto;      
            text-align: center;
            line-height: 2rem; 
        }

        &__parrafo{
            color: $verdeClaro; 
            font-family: 'Brygada 1918', serif;
            font-size: 1.3rem;
            font-weight: bold;
            margin: 0 auto;  
            padding-top: 1rem;    
            text-align: center;
            line-height: 1.4rem; 
        }
    }


    .datosForm{
        max-width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid $crema;
        padding-bottom: .4rem;
        width: 30%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        color: $crema;
        letter-spacing: .1rem;
        font-weight: lighter;
    }
    
    input::placeholder {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        color: $crema;
    }
    
    
    
    .textArea{
        background: none;
        border: 1px solid $verde;
        font-family: 'Open Sans', sans-serif;
    }

    #formDesplegable {
        background-color: transparent;
        border: 1px solid $crema;
        font-size: 1rem;
        color:$crema;
        font-family: 'Open Sans', sans-serif;
        padding: .8rem;

    }




/* MENU –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

header{
    background-color: rgba(242, 238, 232, .85);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    
    
.header{

    padding: 1rem 0;

    &__logo {
            
        img{
        margin: auto;
        height: 4vh;
        padding: 0 1.5rem;
        }
    }

    &__menu {
        margin:0;
        list-style: none;
        overflow: hidden;
   
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;

        li{
        display: inline-block;
        text-align: center;
   
            a {
            position: relative;
            font-size: 1rem;
            font-weight: 400;
            padding: 1rem 0;
            color: $verde;
            font-family: 'Open Sans', sans-serif;
            font-weight: bolder;
            text-transform: uppercase;
            display: block;
      
            }

            a::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: $verde;
                z-index: 1;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.5s ease-in-out;
              }
              
              a:hover::before {
                transform: scaleX(1);
              }

              
        }
    }
 }
}
  
  
  /* menu icon */
  
  .header {

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 1rem 1.5rem;
        position: relative;
        user-select: none;
        
        .navicon {
            background: $verde;
            display: block;
            height: 1px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
        }

        .navicon:before,
        .navicon:after {
          background: $verde;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
        }
        
       .navicon:before {
          top: 5px;
        }
        
      .navicon:after {
          top: -5px;
        }
    
  }

  

}
  

  /* menu btn */
  
  .header{
    width: 100vw;


    .menu-btn {
    display: none;
    }

    .menu-btn:checked ~ .header__menu {
        max-width: 100vw;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        }

        .menu-btn:checked ~ .menu-icon .navicon {
         background: transparent;
          }
        .menu-btn:checked ~ .menu-icon .navicon:before {
            transform: rotate(-45deg);
          }
        .menu-btn:checked ~ .menu-icon .navicon:after {
            transform: rotate(45deg);
          }
        .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
        .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
            top: 0;
          }

}


  
  /* 48em = 768px */
  
  @media (min-width: 1200px) {
    
    header{
       
        .header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 3rem;
 

        .menu-icon {
                display: none;
        }

        .header__logo {
            padding-left: 0.5rem;
        }

        .header__menu {
                clear: none;
                max-height: none;
                right: 0;
           
                li {
                   
                    display: inline-block;
                    text-align: center;
                    a {
                        position: relative;
                        font-size: .8rem;
                        font-weight: 400;
                        margin: 0 2rem;
                        padding: .5rem 0.5rem;
                        color: $verde;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: bolder;
                        text-transform: uppercase;
                        display: block;
                
                        }
                        a:last-child {
                            margin-right: 0;
                        }
                    }

            }
        }
    
  }
}
  



   /* ANIMACIÓN
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  #menu[data-animation="bonus"] a::before {
    transform-origin: right;
  }
  
  #menu[data-animation="bonus"] a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
  }





/* FOOTER –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#footer{
    background-color: $verde;
    margin: 0;
    padding: 3rem 0rem 4rem 0rem;

    .contacto{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;

        &__redes{
            display: flex;
            flex-direction: row;
            padding: 1rem 0 1rem 1rem;
            justify-content: center;
            width: auto;
        }

        h3{
            margin:0;
            color: $verdeClaro; 
            font-family: 'Brygada 1918', serif;
            font-size: 2vw;
            text-align:left;
            padding-right: 2rem;
        }

        &__linea{
            width: 20%;
            height: 0;
            padding: 0;
            border-bottom: 1px solid $verdeClaro;
        }

        &__iconos{
            display: flex;
            align-content: center;
            width: 1.3vw;
            height: 1.3vw;
            border: 1px solid  $crema;
            border-radius: 100%;
            padding: 1vw;
            margin-left: 1rem;

            img{
                width: 100%;
                vertical-align: inherit;
            }
        }
    }
    p{
        margin: 0;
        color: white;
        font-size: .8vw;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    } 

}




/**RESPONSIVE*/

/**HOME*/

@media only screen and (max-width: 1200px){

  .tituloSecciones{
            font-size: 6vw;
            padding-left: 6rem;
            padding-right: 6rem;
            }

    #footer{
        padding: 2rem 1.5rem 3rem;

        .contacto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: .5rem;
    
            &__redes{
                display: flex;
                flex-direction: row;
                padding: 1.5rem 0 1rem 0;
                justify-content: center;
                width: 40%;
            }
        
            h3{
                font-size: 1.8rem;
                text-align:center;
                padding: 1rem 2rem;
            }
        
            &__linea{
                width: 10%;
                height: 0;
                padding: 0;
                border-bottom: 1px solid $verdeClaro;
            }

            &__iconos{
                width: 2vw;
                height: 2vw;
                padding: 1vw;
                margin: 1vw;

                img{
                    margin: auto;
                }
            }
        }
    
        p{
        font-size: .8rem;
        }
    
    }
}

  
 
    
    /**RESPONSIVE PUNTO MEDIO*/
    
    @media only screen and (max-width: 780px){

        header{
           .header{
             &__logo {
                img{
                height: 3vh;
                }
             }
            }
        }
    
        #footer{
            padding: 2rem 1.5rem 3rem;
    
            .contacto {
                
                &__iconos{
                    width: 2.2vw;
                    height: 2.2vw;
                    padding: 1.8vw;

                }
            }
        
            p{
            font-size: .8rem;
            }
        
        }

        
     }

    
    /**RESPONSIVE CELULAR*/
    
    /**HOME*/
    
    @media only screen and (max-width: 480px){
        
        .encabezado_secciones {
            display: flex;
            flex-direction: column;
            padding: 3rem 0;
               
        
            &__subtitulos{
            @include titulares($verde, 13vw);
       
            }
        
            &__numeros{
            @include titulares($verde, 13vw);
            text-align: right;
            }
            
            &__subtitulos--blanco{
            @include titulares($crema, 13vw);
                }
        }

        .tituloSecciones{
            font-size: 12vw;
            padding-left: 2rem;
            padding-right: 2rem;
            }
       
            /* FORM GENERALES –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

        .formBotones{

            &__boton{
                    font-size: 1rem;
                }
            }
    
        #footer{
            padding: 2rem 1.5rem 3rem;
    
            .contacto {
                  &__iconos{
                    width: 5vw;
                    height: 5vw;
                    padding: 2vw;
                    margin: 1vw;

                    img{
                        margin: auto;
                    }
                }
            }
        
        }   

    
 }
  
